@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MaBiblio</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenue à MaBiblio</h2>
        <p>
            Horizon Soft Inc.
        </p>
    </div>
    
</div>